// Header

#body-inicio #header {
  .bg-figure-image {
    object-position: 50% 30%;
  }
}

// Header Animations

#body-inicio #header {
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  .subtitle {             @include show-from(5); }
  .description .buttons { @include show-from(6); }
  .column--item-2 {       @include show-from(7); }
}

// Sections

.bg-main {
  --main: var(--light);
  --alt: var(--light);
  --link: var(--light);
}